{{ define "main" }}

<div class="slider_area slider_bg_1" style="height: auto; padding-bottom: 0px;">
</div>

<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="about_info">
                    <div class="serction_title_large mb-50">
                        <h3>
                            {{ .Title }}
                        </h3>
                    </div>
                    <div class="about_list">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}