{{ define "main" }}

<div class="slider_area slider_bg_1" style="min-height: 95vh;">
    <div class="countDown_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="img-fluid" src="/img/sciar_logo_bianco.png" style="height: 50%; width: 50%;">
                </div>
            </div>
        </div>
    </div>

    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <h1 class="opcity_text d-none d-lg-block">WORKSHOP</h1>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="title_text">
                            <h3>{{ .Site.Title }}</h3>
                            <h4>{{ .Site.Params.Subtitle }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="countDown_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <img class="img-fluid" src="/img/iroslogo.png" style="max-width: 187px; max-height: 73px">
                </div>
            </div>
        </div>
    </div>

    <div class="countDown_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_date">
                        <i class="ti-location-pin"></i>
                        <span>{{ .Site.Params.Location }}</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="single_date">
                        <i class="ti-alarm-clock"></i>
                        <span>{{ .Site.Params.When }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ .Content }}

{{ end }}